<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis-generator:war exploded">
    <output-path>$PROJECT_DIR$/out</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis-generator" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="log4j-1.2.16" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="mybatis-generator/web/Web" />
    </root>
  </artifact>
</component>